<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Accès non autorisé !</title>
    </head>
    <body>
        <div>
        	<center>
           		<img src="{{ asset('bundles/mairievoreppedemandetravaux/img/error-403/403.png') }}"/>
           	</center>
        </div>
    </body>
</html>
