{# src/MairieVoreppe/DemandeTravauxBundle/Resources/views/ArreteModel/index.html.twig #}
{% extends "::base.html.twig" %}
{% block corps %}
    <h1>ArretePromulgue edit</h1>
    <p>
        Arrêté pour la DICT : {{ entity.getDict().getNumeroTeleservice }}
    </p>
    {{ form(edit_form) }}

        <ul class="list-unstyled list-inline">
    <li>
        <a class="btn btn-info" href="{{ path('arretepromulgue') }}">
            Retour à la liste des arrêtés promulgués
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
