# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
src/MairieVoreppe/DemandeTravauxBundle/Resources/public/components/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
web/font/*
web/assetic/*
web/bundles/*

#Allow
!web/uploads/pdf/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/parameters.yml~
/nbproject/private/
composer.lock
