{% extends 'MairieVoreppeDemandeTravauxBundle:MaitreOeuvre:layout.html.twig' %}

 {% block moa_content %}
    <h1>MOEPersonnePhysique edit</h1>
    
    
    {{ form(edit_form) }}

      
    <ul class="list-unstyled list-inline record_actions">
        <li>                
            <a class="btn btn-info" href="{{ path('moepersonnephysique') }}">
            Retour à la liste des maîtres d'oeuvre en tant que personne physique
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
