{% extends 'MairieVoreppeDemandeTravauxBundle:MaitreOeuvre:layout.html.twig' %}

 {% block moa_content %}
    <h1>MOEPersonnePhysique creation</h1>
    
    
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('moepersonnephysique') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
