{% extends 'MairieVoreppeDemandeTravauxBundle:MaitreOeuvre:layout.html.twig' %}

 {% block moa_content %}
    <h1>MOEPersonnePhysique creation</h1>
    
    
    {{ form(form) }}

     
    <ul class="list-unstyled list-inline record_actions">
        <li>                
            <a class="btn btn-info" href="{{ path('moepersonnephysique') }}">
            Retour à la liste des maîtres d'oeuvre en tant que personne physique
        </a>
    </li>
</ul>
{% endblock %}
