{% extends 'MairieVoreppeDemandeTravauxBundle:Recepisse:layout.html.twig' %}

{% block recepisse_content -%}
   
    <div class="row">    

        <div class="col-lg-8 table-responsive">
            <hr/>
            <caption>
                  <h1>RecepisseDICT list</h1>
            </caption>
            <table class="records_list table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Délai de réponse</th>
                        <th>Destinataire</th>
                        <th>Description</th>
                        <th>Type d'envoie</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('recepissedict_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('recepissedict_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('recepissedict_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
