{% extends 'MairieVoreppeDemandeTravauxBundle:MaitreOuvrage:layout.html.twig' %}

 {% block moa_content %}
    <h1>Création - MOA en tant que persone physique</h1>

    {{ form(form) }}

     
    <ul class="list-unstyled list-inline record_actions">
        <li>                
            <a class="btn btn-info"  href="{{ path('moapersonnephysique') }}">
            Retour à la liste des maîtres d'ouvrage en tant que personne physique
        </a>
    </li>
</ul>
{% endblock %}
