{# Cette vue à pour but de listé l'ensemble des maitre d'ouvrage, c'est-à-dire physiques ou moraux #}
{% extends 'MairieVoreppeDemandeTravauxBundle:MaitreOuvrage:layout.html.twig' %}

 {% block moa_content %}
    <h1>MOAPersonneMorale creation</h1>
    	<div class="row">
    		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">        
    			{{ form(form) }}    		
    		</div>
    	</div>

	<div class="row">
	<ul class="list-unstyled list-inline record_actions">
        <li>		        
            <a class="btn btn-info"  href="{{ path('moapersonnemorale') }}">
		            Retour à la liste des maîtres d'ouvrage en tant que personne morale
		        </a>
		    </li>
		</ul>	
	</div>
{% endblock %}
