{% extends 'MairieVoreppeDemandeTravauxBundle::layout.html.twig' %}

{% block main_content %}
    <h1>Ajout d'un responsable et de sa periode à l'exploitant {{ exploitant.raisonSociale }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('responsable_exploitant') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
