{# empty Twig template #}

{% extends '::base.html.twig' %}

{% block corps %}

  <div class="row">
    <div class="col-lg-12">
        {# S'il y a des messages des controleur tel que les erreurs qui seront créé en temps que message flash via les global session#}
        {# on les affiche #}

        
            <div id="header-wrapper">

            <div class="row">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success col-xs-12 col-sm-12 col-md-12 col-lg-12 alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ flashMessage }}</strong>
                        </div>    
                    {% endfor %}     

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-success col-xs-12 col-sm-12 col-md-12 col-lg-12 alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ flashMessage }}</strong>
                        </div>    
                    {% endfor %}          
            </div>
               
                {# Ici on insérera tous le contenu de nos vues du fos user bundle#}
                {% block main_content %}
                {% endblock main_content %}  
    </div>
  </div>
{% endblock corps %}